html,
body,
#root
{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */

}
/* sets canvas window */
.canvas-container {
    /* width: 800px;
    height: 1200px; */
    width: 400px;
    height: 600px;
    margin: auto;
    position: relative;
    border: 5px solid black; /* Add a border */
    border-radius: 10px; /* Optional: Rounded corners */
  }